<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="title">{{ product.title }}</mat-card-title>
      <mat-card-subtitle class="dark"
        >Category {{ product.category }}</mat-card-subtitle
      >
      <mat-card-subtitle class="dark"
        >Article No. {{ product.id }}</mat-card-subtitle
      >
      <mat-card-subtitle class="dark"
        >Price {{ product.price }}</mat-card-subtitle
      >
      <mat-card-subtitle class="dark"
        >Rated {{ product.rating.rate }} by
        {{ product.rating.count }} buyers.</mat-card-subtitle
      >
      <img mat-card-sm-image [src]="product.image" class="product-image" />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="description">
    {{ product.description }}
  </mat-card-content>
  <div class="btn-add-wrapper">
    <button mat-flat-button class="btn-add" (click)="addToCart(product.id)">Add to Cart</button>
  </div>
</mat-card>
