<div *ngIf="!initialProducts.length; else productsList" class="spinner"></div>
<ng-template #productsList>
  <div class="list-wrapper">
    <section class="search-bar">
      <label for="categories"
        >Choose a category:
        <select
          name="categories"
          id="categories"
          class="input"
          (change)="filterByCategory($event)"
        >
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
      </label>
      <label for="search" class="search-filter-label"
        >Search by name:
        <input
          name="search"
          type="text"
          class="input"
          (input)="searchByName($event)"
        />
      </label>
    </section>
    <section class="products-list">
      <div
        *ngFor="let product of productsToRender; index as i"
        class="product-card-wrapper"
      >
        <app-product-card
          [product]="product"
          [index]="i"
          [productCardObserver]="productCardObserver"
        ></app-product-card>
      </div>
    </section>
  </div>
  <app-incart-modal></app-incart-modal>
</ng-template>
