/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  margin-top: 6rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: lightgray;
}

a {
  all: unset;
}

header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 6rem;
  background-color: brown;
  color: beige;
  font-weight: 900;
  display: grid;
  place-items: center;
  z-index: 100;
}

dialog {
  border: 3px solid brown;
  background-color: beige;
  color: brown;
  border-radius: 0.3rem;
  padding: 1rem;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}

.animate-in {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

.animate-out {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
