*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-bg-color: beige;
  --main-text-color: rgb(77, 88, 147);
  --dark-text: rgb(58, 55, 55);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  margin-top: 6rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(grey, white) no-repeat;
}

a {
  all: unset;
}

header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 6rem;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  font-weight: 900;
  display: grid;
  place-items: center;
  z-index: 100;
}

dialog {
  border: 3px solid var(--main-text-color);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border-radius: 0.3rem;
  padding: 1rem;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}

.animate-in {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

.animate-out {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
